<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>btSchoolSafety</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="q-app">
      <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white">
          <q-toolbar class="q-gutter-sm">
            <q-toolbar-title> btSchoolSafety </q-toolbar-title>
            <q-btn flat round dense icon="more_vert">
              <q-menu>
                <q-list>
                  <q-item clickable v-close-popup @click="redirectToLogout">
                    <q-item-section class="text-no-wrap">
                      Log out
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page
            padding
            class="column justify-center items-center q-gutter-lg"
          >
            <q-card flat style="max-width: 25em">
              <q-card-section>
                <p class="text-h6">
                  All student's devices will have active location monitoring
                  turned <b>OFF</b> and be sent the following notification:
                </p>
                <p>
                  "ALL CLEAR. There is no longer any threat at your school and
                  your app is no longer actively monitoring your location."
                </p>
              </q-card-section>
              <q-card-actions vertical align="center">
                <q-btn
                  class="full-width"
                  color="red"
                  @click="sendAllClearAlertAndDeactivateSystem"
                >
                  Send
                </q-btn>
                <q-btn class="full-width" flat @click="redirectToLiveMap">
                  Cancel
                </q-btn>
              </q-card-actions>
            </q-card>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.umd.prod.js"></script>

    <script>
      const app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
          return {};
        },
        setup() {
          return {};
        },
        methods: {
          redirectToLogout() {
            window.location.href = "/accounts/logout";
          },
          redirectToLiveMap() {
            window.location.href = "/live-map";
          },
          sendAllClearAlertAndDeactivateSystem() {
            const csrftoken = document.cookie
              .split("; ")
              .find((cookie) => cookie.startsWith("csrftoken="))
              ?.split("=")[1];
            const request = new Request("/api/deactivate", {
              method: "POST",
              headers: {
                "X-CSRFToken": csrftoken,
              },
              body: JSON.stringify({}),
            });
            fetch(request)
              .then((response) => {
                console.log(response);
                window.location.href = "/panic/";
              })
              .catch((error) => {
                console.error(error);
              });
          },
        },
      });

      app.use(Quasar);
      app.mount("#q-app");
    </script>
  </body>
</html>
