<!DOCTYPE html>
<html lang="en-US">
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.10.1")
  -->

  <head>
    <title>Panic alerts</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">
      <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white">
          <q-toolbar>
            <q-toolbar-title> btSchoolSafety </q-toolbar-title>

            <q-btn flat>Activate</q-btn>
            <q-btn flat dense icon="more_vert">
              <q-menu>
                <q-list>
                  <q-item clickable v-close-popup @click="redirectToLogout">
                    <q-item-section class="text-no-wrap">
                      Log out
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <div class="q-pa-md">
            <h1>Panic alerts</h1>
            <q-list bordered separator>
              <q-item clickable v-for="(alert, index) in panicAlerts">
                <q-item-section overline>[[ alert.timestamp ]]</q-item-section>
                <q-item-section>[[ alert.alertType ]]</q-item-section>
              </q-item>
            </q-list>

            <h1>Example building</h1>
            <q-list bordered separator>
              <q-item clickable v-for="(reporting, index) in roomReportings">
                <q-item-section overline>
                  [[ reporting.roomName]]
                </q-item-section>
                <q-item-section>
                  [[ reporting.numStudentsNearby ]] students nearby
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-page-container>
      </q-layout>
    </div>

    <!-- Add the following at the end of your body tag -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.umd.prod.js"></script>

    <script>



      const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
          return {
            panicAlerts: [
              {% for alert in panic_alerts %}
              {
                timestamp: "{{ alert.date_received|date:'c' }}",
                processed: {{ alert.processed|yesno:"true,false" }},
                alertType: "{{ alert.panic_type }}",
              },
              {% endfor %}
            ],
            roomReportings: [
              {% for reporting in room_reportings %}
              {
                roomName: "{{ reporting.room_name }}",
                numStudentsNearby: "{{ reporting.num_students_nearby }}",
              },
              {% endfor %}
            ]
          }
        },
        setup () {
          return {

          }
        },
        methods: {
          redirectToLogout() {
            window.location.href = "/accounts/logout"
          }
        }
      })

      app.use(Quasar)
      app.mount('#q-app')
    </script>
  </body>
</html>
