{% load btss_extras %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>btSchoolSafety</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="q-app">
      <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white">
          <q-toolbar class="q-gutter-sm">
            <q-toolbar-title> btSchoolSafety </q-toolbar-title>

            <q-btn flat @click="redirectToSelectAlert">Activate</q-btn>
            <q-btn flat round dense icon="more_vert">
              <q-menu>
                <q-list>
                  <q-item clickable v-close-popup @click="redirectToLogout">
                    <q-item-section class="text-no-wrap">
                      Log out
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page padding>
            <q-list bordered separator>
              <q-item v-if="panicAlerts.length === 0">
                <q-item-section>No panic alerts</q-item-section>
              </q-item>
              <q-item clickable v-for="(alert, index) in panicAlerts">
                <q-item-section overline>[[ alert.timestamp ]]</q-item-section>
                <q-chip :color="colorFor(alert.alertType)" text-color="white">
                  <span v-text="chipTextFor(alert.alertType)"></span>
                </q-chip>
              </q-item>
            </q-list>

            <h1>Example building</h1>
            <q-list bordered separator>
              <q-item>
                <q-item-section>Test</q-item-section>
              </q-item>
              <q-item clickable v-for="(reporting, index) in roomReportings">
                <q-item-section overline>
                  [[ reporting.roomName]]
                </q-item-section>
                <q-item-section>
                  [[ reporting.numStudentsNearby ]] students nearby
                </q-item-section>
              </q-item>
            </q-list>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.umd.prod.js"></script>

    <script>
      const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
          return {
            panicAlerts: [
              {% for alert in panic_alerts %}
              {
                timestamp: {{ alert.date_received|date:'c'|quote }},
                processed: {{ alert.processed|yesno:"true,false" }},
                alertType: {{ alert.panic_type|quote }},
              },
              {% endfor %}
            ],
            roomReportings: [
              {% for reporting in room_reportings %}
              {
                roomName: {{ reporting.room_name|quote }},
                numStudentsNearby: {{ reporting.num_students_nearby|quote }},
              },
              {% endfor %}
            ]
          }
        },
        setup () {
          return {

          }
        },
        methods: {
          redirectToLogout() {
            window.location.href = "/accounts/logout"
          },
          redirectToSelectAlert() {
            window.location.href = "/system/select"
          },
          colorFor(alertType) {
            switch (alertType) {
              case 'active-shooting':
                return 'red';
              case 'fire':
                return 'orange';
              default:
                return 'yellow';
            }
          },
          chipTextFor(alertType) {
            switch (alertType) {
              case 'active-shooting':
                return 'Active shooting';
              case 'fire':
                return 'Fire';
              default:
                return 'Other';
            }
          }
        }
      })

      app.use(Quasar)
      app.mount('#q-app')
    </script>
  </body>
</html>
