{% load btss_extras %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>btSchoolSafety</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.prod.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="q-app">
      <q-layout view="hHh Lpr fFf">
        <q-header elevated class="bg-primary text-white">
          <q-toolbar class="q-gutter-sm">
            <q-btn
              flat
              @click="drawerLeft = !drawerLeft"
              round
              dense
              icon="menu"
            ></q-btn>
            <q-toolbar-title>
              btSchoolSafety
              <q-chip
                v-if="!!emergencyType"
                color="{{ emergency_type|to_color }}"
                text-color="white"
              >
                {{ emergency_type|to_label }}
              </q-chip>
            </q-toolbar-title>
            <q-btn flat @click="redirectToDeactivate">Deactivate</q-btn>
            <q-btn flat round dense icon="more_vert">
              <q-menu>
                <q-list>
                  <q-item clickable v-close-popup @click="redirectToLogout">
                    <q-item-section class="text-no-wrap">
                      Log out
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </q-header>
        <q-drawer
          v-model="drawerLeft"
          show-if-above
          :width="375"
          :breakpoint="500"
          bordered
          overlay
        >
          <q-list bordered separator>
            <q-item>
              <q-item-section>
                <div class="text-h6">[[ buildingName ]]</div>
              </q-item-section>
            </q-item>
            <q-item clickable v-for="(reporting, index) in roomReportings">
              <q-item-section overline>
                [[ reporting.roomName]]
              </q-item-section>
              <q-item-section side>
                [[ reporting.numStudentsNearby ]] students nearby
              </q-item-section>
            </q-item>
          </q-list>
        </q-drawer>
        <q-page-container>
          <q-page>
            <div v-if="!!buildingName" id="btss-three-js-container"></div>
            <div
              v-else
              class="window-height window-width row justify-center items-center"
            >
              <div class="text-h1">Missing map</div>
              <div>
                Please add one at:
                <a href="admin/school_map/buildingmap/">admin portal</a>
              </div>
            </div>
            <q-page-sticky position="bottom-right" :offset="[18, 18]">
              <q-btn fab color="accent" @click="resetCamera">
                Reset camera
              </q-btn>
            </q-page-sticky>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.10.1/dist/quasar.umd.prod.js"></script>
    <script
      async
      src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"
    ></script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.147.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.147.0/examples/jsm/"
        }
      }
    </script>
    <script type="module">
      import * as THREE from "three";
      import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js";
      import { OrbitControls } from "three/addons/controls/OrbitControls.js";

      const app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
          return {
              drawerLeft: true,
              emergencyType: {{ emergency_type|quote }},
              buildingName: {{ building_name|quote }},
              roomReportings: [
              {% for room_name, room_count in room_counts.items %}
                {
                  roomName: {{ room_name|quote }},
                  numStudentsNearby: {{ room_count }}
                },
              {% endfor %}
              ],
          };
        },
        setup() {
          return {};
        },
        methods: {
          redirectToLogout() {
            window.location.href = "/accounts/logout";
          },
          redirectToDeactivate() {
            window.location.href = "/system/deactivate";
          },
          resetCamera() {
            controls.reset();
            camera.position.y = {{ default_camera_height }};
            camera.lookAt(new THREE.Vector3(0, 0, 0));
          },
          onReceivedRoomCounts(roomCounts) {
            const roomReportings = [];
            for (const [roomName, roomCount] of Object.entries(roomCounts)) {
              roomReportings.push({
                roomName: roomName,
                numStudentsNearby: roomCount
              })
            }
            this.roomReportings = roomReportings;
          },
          onReceivedStudentPositions(studentPositions) {
            updateStudentAvatarsOrCreate(scene, avatars, studentPositions);
          },
          connect() {
            console.log("Connecting...")
            const socket = new WebSocket(
              "ws://" + window.location.host + "/ws/first-responder"
            );

            socket.onmessage = (e) => {
              const data = JSON.parse(e.data);

              if (data.roomCounts) {
                this.onReceivedRoomCounts(data.roomCounts);
              } else if (data.studentPositions) {
                this.onReceivedStudentPositions(data.studentPositions);
              }
            };

            socket.onclose = (e) => {
              console.error("Socket closed unexpectedly will attempt to reconnect in 5s");
              setTimeout(() => {
                this.connect()
              }, 5000);
            }
          },
        },
        mounted() {
          this.connect();
        }
      });

      app.use(Quasar);
      app.mount("#q-app");

      const scene = new THREE.Scene();
      const camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.1,
        1000
      );
      const renderer = new THREE.WebGLRenderer({ alpha: true });
      renderer.setSize(window.innerWidth, window.innerHeight);
      renderer.setClearColor(0xffffff, 0);
      document
        .getElementById("btss-three-js-container")
        .appendChild(renderer.domElement);

      const controls = new OrbitControls(camera, renderer.domElement);
      controls.mouseButtons = {
        LEFT: THREE.MOUSE.PAN,
        MIDDLE: THREE.MOUSE.DOLLY,
        RIGHT: THREE.MOUSE.ROTATE,
      };
      controls.touches = {
        ONE: THREE.TOUCH.PAN,
        TWO: THREE.TOUCH.DOLLY_ROTATE,
      };
      controls.screenSpacePanning = true;
      controls.minDistance = 1;
      controls.maxDistance = {{ max_camera_height }};
      controls.maxPolarAngle = Math.PI / 4;

      camera.position.y = {{ default_camera_height }};
      camera.lookAt(new THREE.Vector3(0, 0, 0));

      const loader = new GLTFLoader();
      let schoolMap;

      loader.load(
        {{ map_file_path|quote }},
        (gltf) => {
          schoolMap = gltf.scene.children[0];
          schoolMap.material = new THREE.MeshBasicMaterial({
            color: 0xbbdede
          });
          scene.add(schoolMap);
          animate(); // Starts rendering after the map is loaded
        },
        undefined,
        function (error) {
          console.error(error);
        }
      );

      let avatarGeometry;
      let avatars = {};
      loader.load("media/person.glb", (gltf) => {
        avatarGeometry = gltf.scene.children[0].geometry;
      });

      function animate() {
        requestAnimationFrame(animate);
        for (const [_, a] of Object.entries(avatars)) {
          // Make avatar appear to always be looking at the camera ("billboarding")
          a.setRotationFromQuaternion(camera.quaternion);
        }
        renderer.render(scene, camera);
      }

      function updateStudentAvatarsOrCreate(scene, avatars, studentPositions) {
        if (!avatarGeometry) {
          console.log('avatarGeometry not loaded yet, skipping avatar updates');
          return;
        }
        for (const [anonIdentifier, position] of Object.entries(studentPositions)) {
          let avatar = avatars[anonIdentifier];
          if (avatar === undefined) { // Create one
            avatar = new THREE.Mesh(avatarGeometry)
            avatar.material = new THREE.MeshBasicMaterial({
              color: 0xff576c,
              depthTest: false, // Prevent avatar from clipping below map
            });
            avatars[anonIdentifier] = avatar; // Maintain lookup table of added avatars
            scene.add(avatar);
          }

          if (!!position) {
            avatar.position.x = position.x;
            avatar.position.z = -position.y; // three.js uses a y-up coordinate system
          }
        }
      }
    </script>
  </body>
</html>
